.dessert-in-cart {
  margin: 0.5rem auto !important;
  border-radius: 1rem !important;
  background: rgb(216, 59, 216);
  background: linear-gradient(
    104deg,
    rgba(216, 59, 216, 1) 0%,
    #e5989b 100%
  ) !important;
  box-shadow: 0.5rem 0 1rem #000 !important;
  transition: 0.4s ease-out !important;
  padding: 1rem !important;
}

.dessert-in-cart h2, h3{
    color: rgb(246, 199, 199);
}
svg .MuiSvgIcon{
    color: rgb(246, 199, 199) !important;
}