.card-style {
  margin: .5rem auto;
  border-radius: 1rem;
  background: rgb(216, 59, 216);
  background: linear-gradient(
    104deg,
    rgba(216, 59, 216, 1) 0%,
    #e5989b 100%
  );
  box-shadow: .5rem 0 1rem #000;
  transition: 0.4s ease-out;
}
.card-style:hover {
  transform: translateY(-20px);
}
.card-style img {
  margin: 10px auto;
}
.subtitle {
  color: white;
}
.btn {
  background-color: var(--navBackground);
  border: none;
  margin: auto auto;
}
