.dessert-in-cart {
  margin: 0.5rem auto !important;
  border-radius: 1rem !important;
  background: rgb(143, 118, 97);
  background: linear-gradient(
    90deg,
    rgba(143, 118, 97, 1) 0%,
    rgba(125, 101, 80, 1) 43%,
    rgb(126, 95, 70) 99%
  );
  box-shadow: 0.5rem 0 1rem #000 !important;
  transition: 0.4s ease-out !important;
  padding: 1rem !important;
}

.dessert-in-cart h2,
h3, p, span {
  color: rgb(246, 199, 199) !important;
}
svg .MuiSvgIcon {
  color: rgb(246, 199, 199) !important;
}
.dessert-in-cart img {
  width:100% !important;
}