.background {
  background: linear-gradient(0deg, rgba(0 0 0 / 0.5), rgba(255 0 150 / 69%)),
    url(../img/background.jpeg) !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  min-height: 100vh;
}

.phrase-container {
  max-width: 90%;
  margin: 0 auto;
  padding: 15px;
  color: var(--background);
}
